body{
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section #title{
    padding: 25px;
    margin: 25px;
}

section .button{
    z-index: 10;
    margin: 0 0 30px 0;
    width: 300px;
    height: 60px;
    background-color: #A9E7ED;
    border: #CDF3F4 solid 4px;
    border-radius: 25px;
    font-family: "Modak", cursive;
    font-size: 35px;
    color: #7EC3C9;
    cursor: pointer;
}

section #blobAccueil {
    position: absolute;
    z-index: 1;
    width: 70%;
    bottom : -50px;
}

section #blobBondissant {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -70px;
}